main.*
OptomechanicalCoolingWithNotes.*
OptomechanicalCoolingNotes.bib
mainNotes.bib
TemperaturaFinal.*
TemperaturaFinalNotes.*
CoeficientesA.*
Presentacion.*
OptomechanicalCooling.aux
OptomechanicalCooling.log
OptomechanicalCooling.pdf
OptomechanicalCooling.synctex.gz